$background-color: linear-gradient(
    109.6deg,
    rgb(36, 45, 57) 11.2%,
    rgb(16, 37, 60) 51.2%,
    rgb(0, 0, 0) 98.6%
  );
$heading-color: #f5e96c;
$text-color: #f7f0b0;
$input-border-color: #fffad1;
$border-color: #faec7a;
$error-color: #db1818;
$dark-color: rgb(16, 37, 60);

$mobile-end-width: 479px;
$tablet-small-start-width: 480px;
$tablet-small-end-width: 767px;
$tablet-start-width: 768px;
$tablet-end-width: 1279px;
$desktop-width: 1280px;
